.jumbotron {
    display: flex;
    align-items: center;  
    padding: 2rem 1rem;
    background-color: #e9ecef;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item:first-child {
    margin-right: 5rem;
    margin-left: 5rem ;  
}

.app-profile-image {
    width: 10px;
    height: 10px;
    border-radius: 50%; 
}

.item:last-child {
    flex-grow: 1;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
}
