<footer style="background-color: #e9ecef;">
    <div>
      <section>
        <div class="fo">
          <!-- Informations de contact - Première colonne -->
          <div class="haha">
            <h6 >INFORMATIONS TO CONTACT</h6>
            <p><i class="fas"></i> Sedouikech - 4145 Djerba</p>
            <p><i class="fas"></i> rayenbenouiren&#64;gmail.com</p>
            <p><i class="fas"></i> (+216) 58 146 783</p>
          </div>
  
          <!-- Contactez-nous - Deuxième colonne -->
          <div class="haha2">
            <h6 >TO SUBSCRIBE</h6>
            <app-subscribe></app-subscribe>
          </div>
        </div>
      </section>
    </div>
  
    <!-- Section de copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2025 My Portfolio. All Rights Reserved.
    </div>
</footer>
  