.navbar-expand-md {
    background-color: #f8f9fa; 
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}







.nav-link {
    text-decoration: none;
    color: #6c757d;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
    cursor: pointer;
}

.nav-link.active {
    color: #343a40; 
    font-weight: bold;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}
