            <a class="btn" 
               href="https://www.facebook.com/rayen.benouiren" role="button" target="_blank">
              <img class="img" src="Images/facebook.png" alt="Facebook">
            </a>
            <a class="btn" 
               href="https://www.linkedin.com/in/rayen-ben-ouirane-2651ba21a/" role="button" target="_blank">
              <img class="img" src="Images/linkedin.png" alt="LinkedIn">
            </a>
            <a class="btn" 
               href="https://github.com/RayenBenOuirane" role="button" target="_blank">
              <img class="img" src="Images/github.png" alt="GitHub">
            </a>