p{
    font-size: smaller;
    font-family:Arial, Helvetica, sans-serif;
}
.all{
    margin-top: 10px;
    height: 95%;
    background-color: #e9ecef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


}