<div class="all">
    <h3>Last Updates :</h3>
    <ul>
        <li>
            <p>02/09/2021 : Admis au bac!</p>
        </li>
        <li>
            <p>08/09/2021 : Joindre l'Institut Preparatoire aux Etudes d'Ingenieurs de Nabeul !</p>
        </li>
        <li>
            <p>27/08/2023 : Admis au concours nationnale pour entrer au ecoles d'ingenieurs !</p>
        </li>
        <li>
            <p>15/09/2023 : Joindre l'Ecole Nationale d'Ingenieurs de Carthage!</p>
        </li>

    </ul>
</div>
