<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img height="256" width="256" class="rounded-circle" src="Images/Rayen.png" alt="Image de profile">
                <p>
I am currently a student at the National School of Engineers of Carthage, where I am pursuing studies in computer engineering. Motivated and organized, I am fully committed to both my academic and personal projects. I have worked on several software development projects, which has allowed me to acquire strong skills in programming, project management, and technical problem-solving. My goal is to continue expanding my knowledge while actively contributing to innovative projects.
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide> <img src={{picture}} alt="Image 1" style="display: block;width: 100%;"> </slide>
                </div>
            </carousel>
            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the portfolio section to learn more</p>
        </div>
    </div>
</div>